<div class="container-fluid">
  <div class="row border-bottom mb-3 py-3">
    <div class="col">
      <ul class="nav left-nav">
        <li><button class="btn btn-outline-primary">Pages</button></li>
        <li><button class="btn btn-outline-primary">Features</button></li>
        <li><button class="btn btn-outline-primary">Apps</button></li>
      </ul>
    </div>
    <div class="col-auto">
      <ul class="nav custome-nav float-right">
        <li><img src="./assets/icons/header1.svg"></li>
        <li><img src="./assets/icons/header2.svg"></li>
        <li><img src="./assets/icons/header3.svg"></li>
        <li><img src="./assets/icons/header4.svg"></li>
        <li><img src="./assets/icons/header5.svg"></li>
        <li><img src="./assets/icons/header6.svg"></li>
        <li>Hi, <b>User</b> </li>
      </ul>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <ul class="nav search-nav align-items-center">
        <li>{{header}}</li>
        <li>|</li>
        <li>50 Total</li>
        <li>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search.." aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon1"><img src="./assets/icons/header1.svg"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-auto">
      <button class="btn btn-outline-primary">Add User</button>
      <button class="btn btn-link"><img src="./assets/icons/add-new.svg"></button>
    </div>
  </div>
</div>
